/* App */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');

.app {
	height: 100vh;
	padding: 0 !important;
	font-family: 'Open Sans', sans-serif;
	width: 100vw;
}

.row_app {
	height: 100%;
	margin: 0 !important;
	width: 100%;
}

.left_side {
	background-color: #2F313D;
	color: #9BA2C9;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.right_side {
	background-color: #393B4A;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 10px 0;
}

/* General pages */
.title {
	color: #AFB5E3;
}

.page_title {
	text-align: center;
	width: 100%;
}

.row_title {
	margin-top: 10px;
	text-align: center;
}
